= render partial: "shared/print_errors", locals: {obj: @client}

.form

  = form_for @client do |f|

    .form_row
      = f.label :identity, "Identidad"
      = f.text_field :identity, class: "form_input"

    .form_row
      = f.label :name, "Nombre"
      = f.text_field :name, class: "form_input"

    .form_row
      = f.label :phone, "Telefono"
      = f.telephone_field :phone, class: "form_input"

    .form_row
      = f.label :email
      = f.email_field :email, class: "form_input"

    .form_row
      = f.radio_button :gender, "Masculino"
      = f.label :gender, "Masculino"
    .form_row
      = f.radio_button :gender, "Femenino"
      = f.label :gender, "Fememino"
    .form_row
      = f.submit class: "form_submit"
  .clear
