= render "submenu"

.center_content
  #right_wrap
    #right_content
      %h2 Clientes

      - if flash[:notice].present?
        .notice= flash[:notice]

      - if @clients.any?
        .form
          = form_tag clients_path, class: "js_filter_form", remote: true, method: :get do
            .form_row
              = text_field_tag :keyword, nil, placeholder: "Ingrese una palabra a buscar", class: "form_input"
            .form_row
              = submit_tag "Filtrar", class: "form_submit"

        .js_filtered_table
          = render partial: "table", locals: {clients: @clients}
      - else
        %em No Hay ningun cliente agredo
  .sidebar{id: "sidebar"}
    %h2 Administracion de usuarios
    .sidebar_section_text Listado de clientes para que puedas agregar nuevos u editar existentes.

  .clear



