= render "submenu"

.center_content
  #right_wrap
    #right_content

      %h2= "Código: #{@bank_account.id}"
      %p
        %strong Cliente
        = @bank_account.client.name
      %p
        %strong Tipo
        = @bank_account.account_type.title
      %p
        %strong Moneda
        = @bank_account.currency
      %p
        %strong Saldo
        = @bank_account.balance

  .sidebar{id: "sidebar"}
    %h2 Cliente
    .sidebar_section_text Los datos del cliente.
    = render "sidebar_menu"

  .clear
