%tr
  %td= transaction.id
  %td= transaction.transaction_type.titleize
  %td= transaction.responsible
  %td= transaction.description
  %td= transaction.decorate_amount
  %td= transaction.decorate_created_at
