<!DOCTYPE html>
<html>
<head>
  <title>MyBank</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="panelwrap">
  <div class="header">
    <div class="title">My Bank Software</div>

    <div class="header_right">
      <%= current_user.try(:email) %>,<%= link_to "Logout", logout_path, method: :delete, class: "logout" %>
    </div>

    <div class="menu">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "CLIENTES", clients_path %></li>
      <li><%= link_to "CUENTAS", bank_accounts_path %></li>
      <li><%= link_to "TIPOS DE CUENTA", account_types_path %></li>
    </ul>
    </div>

  </div>

  <%= yield %>

  <div class="footer">
  Panelo - Free Admin Template by <a href="htpp://csstemplatesmarket.com" target="_blank">CSSTemplatesMarket</a>
  </div>
</div>

</body>
</html>
