<!DOCTYPE html>
<html>
<head>
  <title>MyBank</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<<<<<<< HEAD
<div id="topPan">
	<ul>
		<li><%= link_to "HOME", root_path %></li>
		<li><%= link_to "CLIENTES", clients_path %></li>
    <li><%= link_to "TIPOS DE CUENTA", account_types_path %></li>
		<li><%= link_to "CUENTAS", bank_accounts_path %></li>
	</ul>
</div>
=======
<div id="panelwrap">
  <div class="header">
    <div class="title">My Bank Software</div>
>>>>>>> d9a1c6ed39619edd0ee92704b4af3a3fa5dc70bc

    <div class="header_right">Welcome USER,<a href="#" class="logout">Logout</a> </div>

<<<<<<< HEAD
=======
    <div class="menu">
    <ul>
      <li><%= link_to "HOME", root_path %></li>
      <li><%= link_to "CLIENTES", clients_path %></li>
      <li><%= link_to "CUENTAS", bank_accounts_path %></li>
      <li><%= link_to "TIPOS DE CUENTA", account_types_path %></li>
    </ul>
    </div>

  </div>

  <%= yield %>

  <div class="footer">
  Panelo - Free Admin Template by <a href="htpp://csstemplatesmarket.com" target="_blank">CSSTemplatesMarket</a>
  </div>
</div>
>>>>>>> d9a1c6ed39619edd0ee92704b4af3a3fa5dc70bc

</body>
</html>
